################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Poker hand calculator/.vs/Poker hand calculator/v17
/Poker hand calculator/.vs/Poker hand calculator/FileContentIndex/dd1096c6-7a1a-4985-96f8-be9abac82fdf.vsidx
/.vs/Poker/v17/.wsuo
/Poker hand calculator/.vs/Poker hand calculator/FileContentIndex
/Poker hand calculator/Poker hand calculator/x64/Debug
/Poker hand calculator/tictactoe/x64/Debug
/Poker hand calculator/x64/Debug/tictactoe.exe
/Poker hand calculator/x64/Debug/tictactoe.pdb
/Poker hand calculator/x64/Debug/Poker hand calculator.exe
/Poker hand calculator/x64/Debug/Poker hand calculator.pdb
/.vs/VSWorkspaceState.json
/Poker hand calculator/.vs/C++ algorithm games/v17
/Poker hand calculator/.vs/C++ algorithm games/FileContentIndex/74b6f2bb-18a9-4917-9504-346d03a5ff92.vsidx
/.gitignore
